<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center ">
            
            <i class="fab fa-hire-a-helper fa-5x"></i>
            <div class="Hire-me">
                <p>HIRE-<span>ME</span></p>
            </div>

            <div class="post-Job">
              <p><a href=" /company/post-Job" class="btn btn-secondary btn-block">Post Job</a></p>
            </div>
            <div class="view-jobs">
                <p><a href="/company/view-Jobs" class="btn btn-success btn-block">My Jobs</a></p>
            </div>
            <div class="logout">
                <p><a href="/users/logout" class="btn btn-primary btn-block">Logout</a></p>
            </div>

        </div>
    </div>
</div>